/* Reset */
html, body, ol, ul, li { margin: 0; padding: 0; }
p {
  margin: 0 0 15px;
  padding: 0;
}

body {
  font-family: Metropolis,Helvetica,Arial,sans-serif;
  font-size: 14px;
  font-weight: lighter;
  background: #fdfdfd;
  line-height: 1.5;
}

/* Links */
a, a:visited, a:hover {
  color: #0091DA;
  text-decoration: underline; 
}

/* Content */
.content {
  margin: 0 auto;
  padding: 0 50px;
  width: 930px;
  background: #fdfdfd;
}

/* Logo */
.logo {
  color: #111;
  font-size: 30px;
  color: #999;
  font-weight: normal;
}
.logo .partof { font-size: 13px; }

/* Hero stuff */
#hero {
  background: #0091DA;
  background-repeat: repeat;
  color: #fff;
  clear: both;
  margin: 0 -50px -120px;
  padding: 15px 50px 150px;
  font-size: 20px;
  position: relative;
}
#hero * { position: relative; }
#hero::before {
  content: "";
  background-repeat: repeat;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.05;
}
#hero h2 {
  font-size: 40px;
  line-height: 1.2;
  font-weight: normal;
}
#hero p { color: #efefef; }
#hero .link-button {
  margin: 0 5px;
  padding: 15px 20px 13px;
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  width: 150px;
  border: 1px solid #fff;  
  text-transform: uppercase;
  text-align: center;
  font-size: 12px;
  text-decoration: none;
  font-weight: bold;
}
#hero .link-button,
#hero .link-button:visited,
#hero .link-button:hover {
  color: #fff;
}
#hero .link-button:hover {
  box-shadow: 2px 2px 10px #0000009e;
}
#hero .link-button-primary,
#hero .link-button-primary:hover,
#hero .link-button-primary:visited {
  background: #ffffff;
  color: #333;
  border-color: #0f29b5;
  border-width: 0;
  padding-top: 16px;
  padding-bottom: 14px;
}
#hero .link-button-primary:hover {
  box-shadow: 2px 2px 10px #0000009e;
}

/* Nav */
#nav ul {
  float: right;
  list-style-type: none;
}
#nav li { float: right; }
#nav li a {
  padding: 30px 15px;
  float: right;
}
#nav li a,
#nav li a:visited,
#nav li a:hover {
  color: #333;
}
#nav h1 {
  float: left;
}

/* Highlights */
#highlights { position: relative; }
#highlights ul {
  overflow: hidden;
  margin: 0 -50px;
  padding: 0 17px 15px;
}
#highlights li {
  width: 260px;
  height: 175px;
  float: left;
  text-align: center;
  border: 1px solid #efefef;
  padding: 30px 20px;
  margin: 15px;
  list-style-type: none;
  background: #fff;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
}
#highlights svg {
  width: 90px;
  height: 90px;
  display: inline-block;
  fill: #0091DA;
}
#highlights a,
#highlights h3 {
  display: block;
  font-size: 25px;
  font-weight: lighter;
  margin: 0;
}

/* Features */
#features { margin-bottom: 50px; }
#features > ul { list-style-type: none; }
#features > ul > li {
  margin: 40px 0px 40px 0px;
  border: 1px solid #e8e8e8;
  display: flex;
  height: 120px;
}
#features .icon {
  background: #0091DA;
  text-align: center;
  width: 15%;
  display: flex;
  align-items: center;
}
#features svg {
  fill: #ffffff;
  transform: scale(0.6, 0.6);
  margin: auto;
}
#features .card {
  margin: 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 85%
}
#features h3 {
  display: block;
  font-size: 25px;
  font-weight: lighter;
  margin: 0;
}
#features li:nth-child(even) {
  flex-direction: row-reverse;
}
#features li:nth-child(odd) {
  flex-direction: row;
}
#features > ul > li ul {
  margin-left: 30px;
}
#features .highlight {
  font-style: normal;
  font-weight: bold;
}

/* Basic usage */
#basic-usage {
  background: #efefef;
  padding: 30px 50px;
  margin: 0 -50px 20px;
  background: #000;
}
#basic-usage h2 { color: #fff; }
#basic-usage .terminal { padding-left: 0; }

/* Authors */
#authors {
  background: #1D428A;
  color: #fff;
  clear: both;
  margin: 0px -50px;
  padding: 12px 38px 24px 38px;
}
#authors a,
#authors a:visited,
#authors a:hover {
  color: inherit;
}

/* Footer */
#footer {
  margin: 18px -50px 0px -50px
}
#footer .copyright {
  float: right;
  margin-right: 18px;
}
#footer .vmware {
  float: right;
}
#footer .vmware img {
  display: block;
  margin-top: 7px;
}
#footer ul {
  list-style-type: none;
}
#footer li { float: left; }
#footer li a {
  padding: 30px 15px;
}
#footer li a,
#footer li a:visited,
#footer li a:hover {
  color: #333;
}
#footer svg {
  width: 20px;
  height: 20px;
  margin-bottom: -5px;
}

/* Terminal */
.terminal {
  font-family: Consolas,Monaco,'Andale Mono','Ubuntu Mono',monospace;
  background: #000;
  color: #eee;
  padding: 7px 9px 7px 15px;
  overflow-x: auto;
  font-size: 100%;
}
.terminal .green { color: #AFCE5E; }
.terminal .red { color: #ef4f4f; }
.terminal .gray { color: #555; }
.terminal .spacer-before {
  margin-top: 8px;
  display: inline-block;
}

/* Code */
li code,
p code {
  background: #f1f1f1;
  border-radius: 4px;
  border: 1px solid #eee;
  padding: 2px 4px;
  font-size: 80%;
}
code, .terminal, .logo {
  font-family: Consolas,Monaco,'Andale Mono','Ubuntu Mono',monospace;
}
li code, p code {
  font-size: 90%;
}



/* --- ytt specifics --- */

/* Fields */
input {
  font-family: sans-serif;
  font-size: 14px;
  border-radius: 3px;
  border: 1px solid #AAA;
  padding: 4px;
}
input[disabled] {
  background: #f7f7f7;
  border-color: #f7f7f7;
  color: #666;
}


/* Buttons */
.button:hover { text-decoration: underline; }
.button {
  border: none;
  border-radius: 3px;
  color: #0091DA;
  padding: 5px 10px;
  margin: 0;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  cursor: pointer;
}
.example-set-button:before {
  content: "▶ "
}
.example-set-button.expanded:before {
  content: "▼ "
}

/* Examples dropdown */
.dropdown {}
.button-container button {
  margin: 0 10px 0 0;
}
.example-set {
  display: none;
}
.example-set.expanded {display: block;}
.example-set-name {
  margin-bottom: 0px;
}
.example-set-description {
  font-style: italic;
  font-size: 10px;
  margin-top: 0px;
}
.dropdown-content {
  columns: 4;
  -webkit-columns: 4;
  -moz-columns: 4;
  margin: 0 0 40px 40px;
}

/* Playground */
#playground .playground-inner { position: relative; }
#playground .playground-inner .blocker {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  opacity: 0.8;
  z-index: 10000;
}
.playground-expanded {
  background: #fff;
  position: relative;
}
.playground-expanded #playground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-width: 1000px; /* Take up at least as much as .content */
  background: #fff;
}
.playground-expanded #playground h2 { font-size: 0%; }

#playground .playground-inner {
  display: flex;
  font-size: 12px;
  /* Avoids content jumping around when changing examples */
  /*min-height: 1000px; */
}
#playground .playground-inner .left,
#playground .playground-inner .right {
  flex: 1;
  max-width: 50%;
}
#playground .playground-inner .left {
  padding-right: 20px;
  box-sizing: border-box;
}

/* Playground controls */
#playground .playground-inner .left { position: relative; }
#playground .controls {
  position: absolute;
  right: 20px;
  top: 0;
}

/* Eidtor configs */
.CodeMirror,
.CodeMirror-scroll {
  height: auto;
  overflow: hidden !important;
}
.CodeMirror-hscrollbar {
  /* without following hor scrollbar isnt draggable */
  pointer-events: auto !important;
  outline: none;
}

#playground .config-boxes .CodeMirror { background: #fffff4; }

/* Editor results */
#playground .output h3 { margin: 2px 0; }
#playground .output .CodeMirror { background: #f7f7f7; }
#playground .output .CodeMirror-cursors { display: none; } /* results are readonly */
.output-errors {
  color: red;
}
.output-errors {
  white-space: pre-wrap;
  font-family: monospace;
}

/* Loading indicator */
.loading {
  position: fixed;
  z-index: 10000;
  bottom: 0;
  right: 0;
  background: #efefef;
  font-size: 80%;
  padding: 2px 4px;
  border-radius: 4px;
}

.playground-wrapper {
  margin: 0px -50px;
  padding: 12px 36px 0px 36px;
  background: #fff;
  clear: both;
}

/* Hightlights fixes */
#highlights li { height: 300px; }
