html, body { margin: 0; padding: 0; }

body {
  font-family: sans-serif;
  font-size: 18px;
  line-height: 1.4;
}

/* Header stuff */
#header {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}
h1 {
  position: absolute;;
}
.hero {
  font-size: 20px;
  text-align: center;
  padding: 20px;
  margin: 0;
  border-bottom: 1px solid #efefef;
}
.logo {
  color: #111;
  font-size: 30px;
  font-family: courier;
}
.link-button,
.button {
  padding: 10px 15px 7px;
  background: #f1f9ff;
  border-radius: 13px;
}
.link-button { margin: 0 5px; }
#try-online.link-button {
  background: #c0efe4;
  color: #238961;
}
.content {
  margin: 10px auto;
  width: 1000px;
}
input {
  font-family: sans-serif;
  font-size: 14px;
  border-radius: 3px;
  border: 1px solid #AAA;
  padding: 4px;
}
input[disabled] {
  background: #f7f7f7;
  border-color: #f7f7f7;
  color: #666;
}
p code {
  background: #f1f1f1;
  border-radius: 4px;
  border: 1px solid #eee;
  padding: 2px 4px;
  font-size: 80%;
}
a:visited, a, a:hover {
  color: #00c;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.button {
  border: none;
  border-radius: 3px;
  color: blue;
  padding: 5px 10px;
  margin: 0;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  cursor: pointer;
}
.button:hover { text-decoration: underline; }
.terminal {
  background: #000;
  color: #eee;
  font-size: 80%;
  padding: 7px 9px;
  border-radius: 4px;
}
.terminal .green { color: #A1C935; }
.terminal .red { color: red; }
.terminal .gray { color: #777; }
code, .terminal, .logo {
  font-family: Consolas,Monaco,'Andale Mono','Ubuntu Mono',monospace;
}

/* k14s tools */
#k14s-tools {
  background: #000;
}
#k14s-tools p {
  margin: 0 auto;
  width: 1000px;
  color: #777;
  font-size: 80%;
  padding: 5px 0;
}
#k14s-tools p a { color: #fff; }

/* Examples dropdown */
.dropdown {}
.dropdown-content {
  display: none;
}
.dropdown.expanded .dropdown-content {display: block;}
.dropdown-content {
  columns: 4;
  -webkit-columns: 4;
  -moz-columns: 4;
  margin: 40px 0;
}

/* Intro */
#intro {
  clear: both;
  display: flex;
  border-bottom: 1px solid #efefef;
}
#intro #features,
#intro #resources {
  flex: 1;
}

/* Playground */
#playground .playground-inner { position: relative; }
#playground .playground-inner .blocker {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  opacity: 0.8;
  z-index: 10000;
}
#playground.expanded {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-width: 1000px; /* Take up at least as much as .content */
  background: #fff;
}
#playground.expanded h2 { font-size: 0%; }

#playground .playground-inner {
  display: flex;
  font-size: 12px;
  min-height: 1000px; /* Avoids content jumping around when changing examples*/
}
#playground .playground-inner .left,
#playground .playground-inner .right {
  flex: 1;
  max-width: 50%;
}
#playground .playground-inner .left {
  padding-right: 20px;
  box-sizing: border-box;
}

/* Playgroun controls */
#playground .playground-inner .left { position: relative; }
#playground .controls {
  position: absolute;
  right: 20px;
  top: 0;
}

/* Eidtor configs */
.CodeMirror,
.CodeMirror-scroll {
  height: auto;
  overflow: hidden !important;
}
.CodeMirror-hscrollbar {
  /* without following hor scrollbar isnt draggable */
  pointer-events: auto !important;
  outline: none;
}

#playground .config-boxes .CodeMirror { background: #fffff4; }

/* Editor results */
#playground .output h3 { margin: 2px 0; }
#playground .output .CodeMirror { background: #f7f7f7; }
#playground .output .CodeMirror-cursors { display: none; } /* results are readonly */
.output-errors {
  color: red;
}
.output-errors {
  white-space: pre;
  font-family: monospace;
}

/* Loading indicator */
.loading {
  position: fixed;
  z-index: 10000;
  bottom: 0;
  right: 0;
  background: #efefef;
  font-size: 80%;
  padding: 2px 4px;
  border-radius: 4px;
}
