<!DOCTYPE html >
<html>
  <head>
    <title class="title">ytt - YAML Templating Tool</title>

    <script src="js/deps.js"></script>
    <link rel="stylesheet" href="js/deps.css"></link>

    <script src="js/app.js"></script>
    <link rel="stylesheet" href="js/app.css"></link>

    <!-- google analytics -->
  </head>
  <body>
    <div id="k14s-tools">
      <p>Part of <a href="https://k14s.io">k14s.io</a>: ytt | <a href="https://get-kbld.io">kbld</a> | <a href="https://get-kapp.io">kapp</a> | <a href="https://github.com/k14s/kwt">kwt</a></p>
    </div>

    <div class="content">
      <div class="header">
        <h1><span class="logo">$<strong>ytt</strong></span></h1>

        <p class="hero"><code>ytt</code> is a templating tool that understands YAML structure <br/> 
        allowing you to focus on your data instead of how to properly escape it.</p>

        <p class="hero">
          <a class="link-button" href="https://github.com/k14s/ytt">Github</a>
          <a class="link-button" href="https://github.com/k14s/ytt/tree/master/docs/README.md">Docs</a>
          <a class="link-button" href="https://github.com/k14s/ytt/releases">Download Binary</a>
          <a class="link-button" href="#playground" id="try-online">Try Online <span>⤵</span></a>
        </p>
      </div>

      <div id="basic-usage">
        <h2>Basic Usage</h2>
        <pre class="terminal">
<span class="gray"># Configurations picked up from a directory</span>
$ <span class="green">ytt -f examples/playground/example-demo/</span> | kubectl apply -f-

<span class="gray"># Input customized on command line or file configuration</span>
$ <span class="green">ytt -f examples/playground/example-demo/ -v service.enabled=false</span> | kapp -y deploy -a app1 -f-

<span class="gray"># Output template results into a directory</span>
$ <span class="green">ytt -f examples/playground/example-demo/ -o /tmp/output-dir</span>
</pre>
      </div>

      <div id="intro">
        <div id="resources">
          <h2>Easily template...</h2>
          <ul>
            <li>Kubernetes YAML configuration</li>
            <li>Concourse pipelines</li>
            <li>CloudFoundry BOSH manifests</li>
            <li>AWS CloudFormation configurations</li>
            <li>...tell us how you use it!</li>
          </ul>
        </div>

        <div id="features">
          <h2>Features</h2>
          <ul>
            <li>Templating works on YAML structure, <em>not text</em></li>
            <li>Includes <i>sandboxed</i> Pythonic scripting language</li>
            <li>Allows to reuse YAML structures via functions</li>
            <li>Allows to merge YAML structures (aka overlays)</li>
            <li>Allows data validation</li>
            <li>Includes optional text templating</li>
          </ul>
        </div>
      </div>

      <div id="playground" style="display: none;">
        <div class="dropdown">
          <h2>Interactive Playground <button class="button">▼ Examples</button></h2>
          <ol class="dropdown-content"></ol>
          <p>Edit files on the left, and see template results on the right.
            Alternatively, click through above examples to see different features.
            We do not store or use content entered into playground.</p>
        </div>

        <div class="playground-inner">
          <div class="blocker"></div>

          <div class="left">
            <div class="controls">
              <button type="button" class="add-config button">+ Add File</button>
              <button type="button" class="run button">&#8627; Run (Shift+Enter)</button>
              <button type="button" class="expand button">&#8597;</button>
            </div>

            <form class="config-form">
              <div class="config-boxes"></div>
            </form>
          </div>

          <div class="right">
            <div class="output"></div>
          </div>
        </div>
      </div>

      <noscript>Page includes interactive editor with ability to render templates and see their results.</noscript>

      <div id="footer">&#8718;</div>
    </div>
  </body>
</html>
